body{
    /* font-family: segoe ui light ,"Open Sans", sans-serif ,"Poppins",; */
}
.graph{
    font-size: 1.2rem;
    font-family: "Open Sans", sans-serif  ;
}
p{
    color: #666;
}
h1{
    font-weight: 700;
    color: #282828;
}
.fas.fa-cogs{
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: rgba(0,0,0,.7);
    z-index: 9999999;
}
.progress {
    height: .3rem;
}

.progress-bar{
    background-color: #f25454;
}
.progress-title{
    float: left;
}
.progress-value{
    text-align: right;
}


.line{
    width: 7%;
    border: .7px solid #000;
    transition: all .4s;
}

.intro:hover .line{
    width: 10%;
}
.image{
    position: relative;
    overflow: hidden;
}
.overlay{
    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(242, 84, 84, 0.85);
    opacity: 0;
    transition: all .3s;
}
.member:hover .overlay{
    opacity: 1;
}

.member img{
    border-radius: 4px;
    transition: all .3s;
}
.member:hover img{
    transform: scale(1.1);
}
.overlay a{
    color: #fff;
}
.member h5{
    transition: all.3s;
}
.member:hover h5{
    color:#f25454 ;
}
.part{
    font-size: 2.2rem;
}
.services{
    background-color: #fafafa;
}


